.title {
    font-weight: 600;
    padding: 20px 20px 10px;
}

.list {
    padding: 0;
    list-style: none;
    margin: 0 -5px;
}

.emptyList {
    text-align: center;
    min-height: 300px;
    border-radius: 10px;
    background-color: var(--background-color);
}

.emptyText {
    margin: 5px;
    font-weight: 500;
    color: var(--medium-color-shade);
}